<section class="container mx-auto px-6 lg:px-0">
        
    <h1 class="mb-2 font-medium text-xl text-slate-700">Como podemos te ajudar?</h1>
    
    <div>
        <ul class="flex flex-wrap gap-4">
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Tratamento de unhas encravadas</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Remoção de calosidades</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Corte técnico das unhas</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Remoção de verrugas plantares</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Hidratação e cuidados com a pele dos pés</li>
            <li class="hidden md:block text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Tratamento de lesões e deformidades nos pés</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Tratamento para rachaduras nos pés</li>
            <li class="hidden md:block text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Tratamento de fungos</li>
            <li class="text-sm md:text-base w-full md:w-fit text-gray-600 p-3 rounded shadow-md shadow-indigo-500/10">Atendimento domiciliar</li>
        </ul>
    </div>

</section>