<section class="relative container mx-auto pl-6 lg:px-0">
    <h1 class="mb-2 font-body font-medium text-xl text-slate-700">Conheça nosso espaço</h1>
    📍 St. de Habitações Individuais Sul QI 5 - Lago Sul, Brasília - DF, 71600-530 <a href="https://maps.app.goo.gl/dbojupPAmUGYWT3Y8" class="underline text-[#0000FF]" title="Localização no google maps" target="_blank">Abrir no maps</a>
    <div class="absolute inset-x-0 -top-40 -z-30 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <!-- <div class="flex gap-5 overflow-auto [&::-webkit-scrollbar]:hidden pt-5 pb-6 m-auto sm:gap-2 sm:grid sm:grid-cols-4 sm:grid-rows-2 sm:h-[600px] sm:max-w-5xl ">
       <img ngSrc="assets/img-1.webp" width="250" height="350" priority class="rounded object-cover object-left sm:w-full sm:h-full" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/video-1.gif" width="250" height="350" class="rounded object-cover object-left-bottom sm:w-full sm:h-full sm:object-left-bottom sm:row-span-2 sm:col-span-2" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-2.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-4.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-3.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full" alt="foto de clientes na clínica de podologia podofeet"/>
    </div> -->
    <div class="flex gap-5 overflow-auto [&::-webkit-scrollbar]:hidden pt-5 pb-6 pr-6 m-auto sm:gap-2 sm:grid sm:grid-cols-4 sm:grid-rows-2 sm:h-[600px] sm:max-w-5xl wrapper">
       <img ngSrc="assets/img-1.webp" width="250" height="350" priority class="rounded object-cover object-left sm:w-full sm:h-full card" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/video-1.gif" width="250" height="350" class="rounded object-cover object-left-bottom sm:w-full sm:h-full card sm:object-left-bottom sm:row-span-2 sm:col-span-2" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-2.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full card" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-4.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full card" alt="foto de clientes na clínica de podologia podofeet"/>
       <img ngSrc="assets/img-3.webp" width="250" height="350" class="rounded object-cover object-left sm:w-full sm:h-full card" alt="foto de clientes na clínica de podologia podofeet"/>
    </div>
</section>