@media(max-width: 1024px){
  header nav{
    padding: 1.5rem;
  }
  header.sticky-scroll nav{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: .5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  header.sticky-scroll nav{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: .5rem 0;
  }
}