<div class="container mx-auto pl-6 lg:px-0">
    
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nosso blog</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Vamos aprender a cuidar dos nossos pés com expertise.</p>
    </div>
    <div class="absolute inset-x-0 -top-40 -z-30 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto wrapper pr-6 mt-10 flex gap-x-5 gap-y-16 border-t overflow-auto [&::-webkit-scrollbar]:hidden border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        @for (post of posts; track post.id) {
            <article [routerLink]="'/blog/' + post.id" class="flex min-w-64 flex-col sm:w-full items-start justify-between cursor-pointer card">
                <div class="flex items-center gap-x-4 text-xs" >
                <time datetime="2024-07-11" class="text-gray-500">{{post.data | date}}</time>
                <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{post.tema}}</span>
                </div>
                <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <span>
                    <span class="absolute inset-0"></span>
                    {{post.title}}
                    </span>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{post.descricaoTitle}}</p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                <img [ngSrc]="post.photoPath" alt="Foto cliente Podofeet" width="40" height="40" class="rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                    <span>
                        <span class="absolute inset-0"></span>
                        {{post.autor}}
                    </span>
                    </p>
                    <p class="text-gray-600">{{post.cargo}}</p>
                </div>
                </div>
            </article>
        }
    </div>
  </div>